<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | prepend:site.url }}">
    <link href="/assets/stylesheets/syntax.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css" />  
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script src="/assets/js/jquery-3.7.1.min.js"></script>

    <script>
        window.boot.register('page-ready', () => {
   $('.interactive-table').DataTable()
})
    </script>

    </head>
