<div>
  
  <div class="site-top">

    {% for link in site.nav-links limit:1 %}
    <a href="{{ link.url | prepend:site.url }}"><h1 class="site-title">{{ site.title }}‍</h1></a>
    <img class="site-logo" src="/assets/Square Logo.svg" alt="Square logo for Accessibels. 4 Circles arranged in the shape of controller buttons. Up button is a pink game controller. Right button is the letter b. Down button is the letter a. Left button is a red sound wave">
  </div>
  {% endfor %}

    {% if site.nav-links %}
    <nav>
      <ul>
        {% for link in site.nav-links %}
        <li><a href="{{ link.url | prepend:site.url }}" title="Go to {{link.name}}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>

    </nav>
    {% endif %} 
</div>
