<!DOCTYPE html>
  {% include head.html %}
  <body>
    <a href="#main-content-home" class="skip-link" title="Skip to main content link">Skip to main content</a>
    <div class="page">
      {% include nav.html %}
      <div id="main-content-home">
          <div id="main-content-left">
            <h1>Latest Post</h1>
            {% for post in site.posts limit:1 %}
              <h2>
                <a href="{{post.url}}" title="Read {{post.title}}">{{post.title}}</a>
              </h2>
              <p>
                <em>{{ post.date | date: '%B %d, %Y' }}</em>
              </p>
              
          </div>

          <div id="main-content-right">

            {{ post.content | strip_html | truncatewords: 30 }}
              <a href="{{post.url}}" title="Read {{post.title}}">Read More</a>

        </div>
      </div>

      <h1>Recent Posts</h1>

      {% for post in site.posts limit:3 %}
      <h2>
        <a href="{{post.url}}" title="Read {{post.title}}">{{post.title}}</a>
      </h2>
      <p>
        <em>{{ post.date | date: '%B %d, %Y' }}</em>
      </p>
      {{ post.content | strip_html | truncatewords: 30 }}
      <a href="{{post.url}}" title="Read {{post.title}}">Read More...</a>

    {% endfor %}

    {% include footer.html %}


            
    </div>
  </body>
</html>