---
title: Writing
layout: default
---
{% for post in site.posts %}

<div id="post-content-home">
  <div id="post-content-left">

    <h2>
      <a href="{{post.url}}" title="Read {{post.title}}">{{post.title}}</a>

        <p>
          <em>{{ post.date | date: '%B %d , %Y' }}</em>
        </p>
        {{ post.summary | strip_html | truncatewords: 30 }}
        <br><br>

    </h2>

  </div>

  <div id="post-content-right">
    <a href="{{post.url}}"><img style="width:50%; border: solid black;" src="{{post.imageURL}}" alt="{{post.imageALT}}"></a>

  </div>

</div>

{% endfor %}

